@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Hesabınızı Yönetin</h1>

<div>
    <h2>Hesap ayarlarınızı değiştirin</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h4>Hesap Seçenekleri</h4>
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <div class="alert alert-info">
                Hesabınızın farklı yönlerini yönetmek için sol menüden bir seçenek seçin.
            </div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
