@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "İki Faktörlü Kimlik Doğrulama";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Kurtarma kodunuz kalmadı.</strong>
                    <p>Giriş yapmadan önce <a asp-page="./GenerateRecoveryCodes">yeni bir kurtarma kodu seti oluşturmalısınız</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>1 adet kurtarma kodunuz kaldı.</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">Yeni bir kurtarma kodu seti oluşturabilirsiniz</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Model.RecoveryCodesLeft adet kurtarma kodunuz kaldı.</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">Yeni bir kurtarma kodu seti oluşturmalısınız</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Bu tarayıcıyı unut</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">2FA'yı Kapat</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Kurtarma kodlarını sıfırla</a>
        }

        <h4>Doğrulama Uygulaması</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Doğrulama uygulaması ekle</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Doğrulama uygulamasını ayarla</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Doğrulama uygulamasını sıfırla</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Gizlilik ve çerez politikası kabul edilmemiştir.</strong>
            <p>İki faktörlü kimlik doğrulamayı etkinleştirmeden önce politikayı kabul etmelisiniz.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
