@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Parolanızı mı unuttunuz?";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f7f7f7;
    }

    .password-reset-container {
        max-width: 600px;
        margin: 10% auto;
        padding: 20px 40px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
    }

    h1, h2 {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        color: black;
    }

    button.btn-primary {
        border-color: black;
        color: black;
        font-weight: bold;
        transition: background-color 0.2s, color 0.2s;
    }

        button.btn-primary:hover {
            background-color: black;
            color: white;
        }
</style>

<div class="password-reset-container">
    <h1>@ViewData["Title"]</h1>
    <h2>E-posta adresinizi girin.</h2>
    <hr />

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Parolayı Sıfırla</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
