@{
    ViewData["Title"] = "Login";
}

<h2>Giriş</h2>

<form method="post">
    <div>
        <label>E-posta:</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Parola:</label>
        <input type="password" name="password" required />
    </div>
    <div>
        <input type="submit" value="Giriş Yap" />
    </div>
</form>
