@{
    ViewData["Title"] = "Login";
}

<style>
    .card-header {
        color: black;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        transition: background-color 0.2s, color 0.2s;
    }

        .card-header:hover {
            background-color: black;
            color: white;
        }

    .form-element, .form-label {
        color: black;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }

        .form-element:hover {
            background-color: black;
            color: white;
        }

    .btn-login {
        border-color: black;
        color: black;
        font-weight: bold;
        transition: background-color 0.2s, color 0.2s;
    }

        .btn-login:hover {
            background-color: black;
            color: white;
        }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Giriş
                </div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @foreach (var value in ViewData.ModelState.Values)
                            {
                                foreach (var error in value.Errors)
                                {
                                    <p>@error.ErrorMessage</p>
                                }
                            }
                        </div>
                    }
                    <form method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-posta:</label>
                            <input type="email" class="form-control form-element" id="email" name="email" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Parola:</label>
                            <input type="password" class="form-control form-element" id="password" name="password" required />
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-login">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
