@model HayvanBarinagi.Models.Hayvan

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>

        .box {
            max-width: 900px;
            margin: auto;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.6); 
            border-radius: 10px; 
            padding: 20px;
        }

        .text-background {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 30px;
            padding: 20px;
            display: inline-block;
            color: black;
            font-size: 1.25rem;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }

        .display-4 {
            font-size: 3rem;
            font-weight: bold;
            color: black;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }

        .lead {
            color: black;
            font-size: 1.25rem;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }

        .btn-primary, .btn-outline-dark {
            background-color: white;
            border-color: black;
            color: black;
            border-radius: 25px;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.2s, color 0.2s;
        }

            .btn-primary:hover, .btn-outline-dark:hover {
                background-color: black; 
                color: white; 
            }

        .btn-outline-dark {
            border-color: black;
            color: black;
        }

        .form-label {
            font-size: 1.1rem;
            color: black;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }

        .form-control {
            border-radius: 15px;
            border: 1px solid black;
            color: black;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }

            .form-control:focus {
                box-shadow: none;
                border-color: black;
                background-color: black;
                color: white;
            }
        .text-danger {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="box mt-5">
        <h1 class="display-4 mb-3">Hayvan Ekle</h1>
        <div class="row justify-content-left">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Tur" class="form-label"></label>
                        <input asp-for="Tur" class="form-control" />
                        <span asp-validation-for="Tur" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Ad" class="form-label"></label>
                        <input asp-for="Ad" class="form-control" />
                        <span asp-validation-for="Ad" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ResimUrl" class="form-label"></label>
                        <input asp-for="ResimUrl" class="form-control" />
                        <span asp-validation-for="ResimUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Aciklama" class="form-label"></label>
                        <input asp-for="Aciklama" class="form-control" />
                        <span asp-validation-for="Aciklama" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Hayvan Ekle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4">
            <a asp-action="Index" class="btn btn-primary btn-outline-dark">Geri Dön</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
