@model HayvanBarinagi.Models.Hayvan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hayvan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tur" class="control-label"></label>
                <input asp-for="Tur" class="form-control" />
                <span asp-validation-for="Tur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResimUrl" class="control-label"></label>
                <input asp-for="ResimUrl" class="form-control" />
                <span asp-validation-for="ResimUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Sahiplendirildi)</label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Sahiplendirildi" id="EditSahiplendirildiTrue" value="true" checked="@Model.Sahiplendirildi" />
                        <label class="form-check-label" for="EditSahiplendirildiTrue">Evet</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Sahiplendirildi" id="EditSahiplendirildiFalse" value="false" checked="@(!Model.Sahiplendirildi)" />
                        <label class="form-check-label" for="EditSahiplendirildiFalse">Hayır</label>
                    </div>
                </div>
                <span asp-validation-for="Sahiplendirildi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
